body {
	font-family: 'PT Sans', sans-serif;
	font-size: 18pt;
	line-height: 1.5;
	background-color: #aaaaaa;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 8px;
}

#sunday {
	margin-top: 25px;
}

.main, .nav {
	background-color: #f0f0f0;
	color: #101010;
}

.nav-pills > li > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav-pills > li {
	border-right: 1px dotted blue;
}

.nav-pills > li.active {
	border-right: 0 !important;
}

@media only screen and (min-width: 991px) {
	.main {
		min-height: 700px;
	}
}

.nav li a {
	padding-left: 10%;
}

.hotels .figure {
	font-weight: 700;
}

.figure {
	font-family: 'Alegreya Sans', sans-serif;
}

.time {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 700;
	text-align: right;
	width: 70px !important;
	margin-top: 1px;
}

.program {
	margin-left: 1em;
	width: 90% !important;
}

.teams {
	font-size: 20px !important;
	width: 100% !important;
}

.program td {
	height : 70px;
	border-top: none !important;
}

.teams td, .teams th {
	border-top: none !important;
}

.teams tr:nth-child(3n+2) td {
	border-top: 1px solid #bbb !important;
}

p.desc {
	font-style: italic;
	font-size: 85%;
}

.title {
	background-color: #960018 !important;
	color: white;
	font-size: 36px;
	text-align: center;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	line-height: 0.8;
}

.main {
	padding-top: 1.2%;
	padding-left: 1%;
	padding-bottom: 2%;
	
}

ul.nav {
	padding-right: 0px;
}

ul.dash {
	list-style:none;
	margin-left: 1em;

}

ul.dash li:before {
	content:"— "; 
	position:relative; 
}

ul.dash li {
	text-indent: -2em; 
}

.teams {
	font-size: 14px;
	width: 95%;
}

.teams .figure {
	font-size: 22px;
}

.row {
	background-color: #aaaaaa;
}

.caps {
	letter-spacing: 1.8px;
	font-size: 26px;
	font-variant: small-caps;
}

header ul {
	padding: 0;
	margin: 0;
}

iframe {
	border: 0;
	margin: 15px auto;
	width: 90%;
	height: 450px;
	display: block;
}

img {
	margin-left: 10%;
	width: 80%;
}
