body {
	font-family: 'PT Sans', sans-serif;
	font-size: 18pt;
	line-height: 1.5;
	background-color: #aaaaaa;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 5px;
	padding-bottom: 16px;
}

#sunday {
	margin-top: 25px;
}

.main, .nav {
	background-color: #f0f0f0;
	color: #101010;
}

@media only screen and (min-width: 991px) {
	.main {
		min-height: 700px;
	}
}

.nav li a {
	padding-left: 10%;
}


.figure {
	font-family: 'Alegreya Sans', sans-serif;
}

.time {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 700;
	text-align: right;
	width: 70px !important;
}

table {
	margin-left: 1em;
	width: 90% !important;

}

td {
	height : 70px;
	border-top: none !important;
}

p.desc {
	font-style: italic;
	font-size: 85%;
}

.title {
	background-color: #960018 !important;
	color: white;
	font-size: 36px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	line-height: 0.8;
}

.nav {
	padding-top: 1px;
}

.main {
	padding-top: 1.2%;
	padding-left: 1%;
	padding-bottom: 2%;
	border-left: 1px dotted blue;
}

ul.nav {
	padding-right: 0px;
}

ul.dash {
	list-style:none;
	margin-left: 0.5em;

}

ul.dash li:before {
	content:"— "; 
	position:relative; 
}

ul.dash li {
	text-indent: -1.5em; 
}

.teams {
	font-size: 14px;
	width: 95%;
}


.row {
	background-color: #aaaaaa;
}

div, article {
	/*border: 1px solid;*/
}

.caps {
	letter-spacing: 2px;
	font-size: larger;
	font-variant: small-caps;
}

header ul {
	padding: 0;
	margin: 0;
}
