body {
	font-family: 'PT Sans', sans-serif;
	font-size: 18pt;
	line-height: 1.5;
	background-color: #aaaaaa;
}

.container {

}

div[class^='col-md'], ul[class^='col-md'] {
	background-color: white;
}

ul.nav {
	padding-right: 0px;
}

.row {
	background-color: #aaaaaa;
}

div, article {
	/*border: 1px solid;*/
}

.caps {
	letter-spacing: 1px;
}


.title {
	font-size: 48px;
	font-family: 'PT Sans', sans-serif;
}

.menu {
	
}

header ul {
	padding: 0;
	margin: 0;
}

header {
	
}

article {
	
	
}
